<div class="w-75 mx-auto mt-5">
  <br />

  <div class="row">
    <div class="col-6">
      <h1><b><strong>List of Students</strong></b></h1>
    </div>

    <div class="col-6 d-flex justify-content-end">
      <a
        href="/students/create"
        type="button"
        class="btn btn-success align-self-center"
        ><strong><b>+ Add Student</b></strong></a
      >
    </div>
  </div>

  <% if(students.length> 0) {%>
  <div class="mt-3 mb-3">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center"><b><strong>Batch</strong></b></th>
          <th scope="col" class="text-center"><b><strong>Name</strong></b></th>
          <th scope="col" class="text-center"><b><strong>Email</strong></b></th>
          <th scope="col" class="text-center"><b><strong>Contact</strong></b></th>
          <th scope="col" class="text-center"><b><strong>DSA</strong></b></th>
          <th scope="col" class="text-center"><b><strong>WEB Dev</strong></b></th>
          <th scope="col" class="text-center"><b><strong>REACT</strong></b></th>
          <th scope="col" class="text-center"><b><strong>Interview</strong></b></th>
          <th scope="col" class="text-center" class="text-end"><b><strong>Action</strong></b></th>
        </tr>
      </thead>

      <tbody id="myTable">
        <% for(let student of students) {%>
        <tr>
          <th scope="row" class="text-center"><b><strong><%=student.batch%></strong></b></th>
          <td class="text-center"><strong><b><%=student.name%></strong></b></td>
          <td class="text-center"><strong><b><%=student.email%></strong></b></td>
          <td class="text-center"><strong><b><%=student.contactNumber%></strong></b></td>
          <td class="text-center"><strong><b><%=student.dsa%></strong></b></td>
          <td class="text-center"><strong><b><%=student.webd%></strong></b></td>
          <td class="text-center"><strong><b><%=student.react%></strong></b></td>
          <% if(student.interviews.length) {%>
          <td class="text-center">
            <% for(let company of student.interviews){%>
            <a href=" " id="compnay_name"><strong><b><%=company.company%></strong></b></a>
            <%}%>
          </td>
          <%}else{%>
          <td class="text-center"><strong><b>NONE</b></strong></td>
          <%}%>
          <td
            style="
              display: flex;
              justify-content: space-around;
              align-items: center;
            "
          >
            <a
              href="/students/delete/<%=student.id%>"
              type="button"
              class="btn btn-danger btn-small"
              >Delete</a
            >
          </td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </div>
  <%}else{%>
  <div class="w-75 mx-auto mt-5">
    <h2><strong><b>No Records found..</b></strong></h2>
  </div>
  <%}%>
</div>
